<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:zzw="http://www.asiainfo.com/schema/service"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.asiainfo.com/schema/service
       http://www.asiainfo.com/schema/service.xsd
       ">

	<context:component-scan base-package="com.asiainfo"></context:component-scan>
	
	<!-- 静态普通方法名匹配切面 -->
<!-- 	<bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean" p:proxyInterfaces="com.asiainfo.IWaiter" p:target-ref="waiterImpl" p:proxyTargetClass="true"> -->
<!-- 	<bean id="waiter" scope="singleton" class="org.springframework.aop.framework.ProxyFactoryBean" p:proxyInterfaces="com.asiainfo.GreetSwitch" p:target-ref="waiterImpl" p:proxyTargetClass="true">  注：这里的proxyInterfaces所指的接口不是目标类所实现的接口，而是引介增强所要实现的接口 -->
<!-- 		<property name="interceptorNames"> -->
<!-- 			<list> -->
<!-- 				<value>myThrowableAdvice</value> -->
<!-- 				<value>greetBeforeAdvice</value> -->
<!-- 				<value>greetAroundInterceptor</value> -->
<!-- 				<value>myIntroductionInterceptor</value> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean> -->

<!-- 	<bean id="myPointcutAdvisor" class="com.asiainfo.MyPointcutAdvisor" p:advice-ref="greetBeforeAdvice"></bean> -->
<!-- 	<bean id="common" class="org.springframework.aop.framework.ProxyFactoryBean" abstract="true" p:proxyTargetClass="true"> -->
<!-- 		<property name="interceptorNames"> -->
<!-- 			<list> -->
<!-- 				<value>myPointcutAdvisor</value> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean> -->
<!-- 	<bean id="waiter" parent="common" p:target-ref="waiterImpl"></bean> -->
<!-- 	<bean id="service" parent="common" p:target-ref="serviceImpl"></bean> -->

	<!-- 动态切面 -->
<!-- 	<bean id="defaultPointcutAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor" p:pointcut-ref="myDynamicPointcut" p:advice-ref="greetBeforeAdvice"></bean> -->
<!-- 	<bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean" p:target-ref="serviceImpl" p:optimize="true"> -->
<!-- 		<property name="interceptorNames"> -->
<!-- 			<list> -->
<!-- 				<value>defaultPointcutAdvisor</value> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean> -->
<!-- 	<bean id="waiterImpl" class="com.asiainfo.WaiterImpl"></bean> -->
<!-- 	<bean id="serviceImpl" class="com.asiainfo.ServiceImpl"></bean> -->

	<!-- 流程切面 -->
<!-- 	<bean id="controlFlowPointcut" class="org.springframework.aop.support.ControlFlowPointcut"> -->
<!-- 		<constructor-arg type="java.lang.Class" value="com.asiainfo.Controller"></constructor-arg> -->
<!-- 		<constructor-arg type="java.lang.String" value="getUserCon"></constructor-arg> -->
<!-- 	</bean> -->
<!-- 	<bean id="defaultPointcutAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor" p:pointcut-ref="controlFlowPointcut" p:advice-ref="greetBeforeAdvice"></bean> -->
<!-- 	<bean id="userServiceImpl" class="com.asiainfo.UserServiceImpl"></bean> -->
<!-- 	<bean id="userService" class="org.springframework.aop.framework.ProxyFactoryBean" p:target-ref="userServiceImpl" p:optimize="true"> -->
<!-- 		<property name="interceptorNames"> -->
<!-- 			<list> -->
<!-- 				<value>defaultPointcutAdvisor</value> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean> -->

	<!-- 复合切点切面 -->
	<bean id="myComposablePointcut" class="com.asiainfo.MyComposablePointcut"></bean>
	<bean id="defaultPointcutAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor" p:pointcut="#{myComposablePointcut.pointcut}" p:advice-ref="greetBeforeAdvice"></bean>
	<bean id="userServiceImpl" class="com.asiainfo.UserServiceImpl"></bean>
	<bean id="userService" class="org.springframework.aop.framework.ProxyFactoryBean" p:target-ref="userServiceImpl" p:optimize="true">
		<property name="interceptorNames">
			<list>
				<value>defaultPointcutAdvisor</value>
			</list>
		</property>
	</bean>
<!-- 	<bean id="myPointcutAdvisor" class="com.asiainfo.MyPointcutAdvisor" p:advice-ref="greetBeforeAdvice"></bean> -->
<!-- 	<bean id="common" class="org.springframework.aop.framework.ProxyFactoryBean" abstract="true" p:proxyTargetClass="true"> -->
<!-- 		<property name="interceptorNames"> -->
<!-- 			<list> -->
<!-- 				<value>myPointcutAdvisor</value> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean> -->
<!-- 	<bean id="waiter" parent="common" p:target-ref="waiterImpl"></bean> -->
<!-- 	<bean id="service" parent="common" p:target-ref="serviceImpl"></bean> -->

</beans>