<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:zzw="http://www.asiainfo.com/schema/service"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.asiainfo.com/schema/service
       http://www.asiainfo.com/schema/service.xsd
       ">

	<context:component-scan base-package="com.asiainfo"></context:component-scan>
	
<!-- 	<bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean" p:proxyInterfaces="com.asiainfo.IWaiter" p:target-ref="waiterImpl" p:proxyTargetClass="true"> -->
<!-- 	<bean id="waiter" scope="singleton" class="org.springframework.aop.framework.ProxyFactoryBean" p:proxyInterfaces="com.asiainfo.GreetSwitch" p:target-ref="waiterImpl" p:proxyTargetClass="true">  注：这里的proxyInterfaces所指的接口不是目标类所实现的接口，而是引介增强所要实现的接口 -->
<!-- 		<property name="interceptorNames"> -->
<!-- 			<list> -->
<!-- 				<value>myThrowableAdvice</value> -->
<!-- 				<value>greetBeforeAdvice</value> -->
<!-- 				<value>greetAroundInterceptor</value> -->
<!-- 				<value>myIntroductionInterceptor</value> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean> -->

	<bean id="myPointcutAdvisor" class="com.asiainfo.MyPointcutAdvisor" p:advice-ref="greetBeforeAdvice"></bean>
	<bean id="common" class="org.springframework.aop.framework.ProxyFactoryBean" abstract="true" p:proxyTargetClass="true">
		<property name="interceptorNames">
			<list>
				<value>myPointcutAdvisor</value>
			</list>
		</property>
	</bean>
	<bean id="waiter" parent="common" p:target-ref="waiterImpl"></bean>
	<bean id="service" parent="common" p:target-ref="serviceImpl"></bean>









</beans>